:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --btn-color: #04AA6D;
    --btn-hover-color: #059862;
    --primary-color: #00aa6e;
    --slide-grey-color: #282A35;
    --slide-14-color: rgb(150, 212, 212);
    --slide-12-color: rgb(243, 236, 234);
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}


/* ------------------------------------------------------------------------- */

#app {
    width: 100%;
}

.for-teacher {
    width: 100%;
    display: flex;
    /* height: 40px; */
    font-size: 1.6rem;
    justify-content: center;
    align-items: center;
    background: url(../img/LogInHeader.svg);
    color: var(--white-color);
}

.for-teacher__header {
    margin-right: 8px;
    font-weight: 500;
}

.for-teacher__text {
    margin-right: 8px;
}

.for-teacher__link {
    margin-right: 8px;
    color: var(--white-color);
}

.content {
    background-color: #282b35;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 16px; */
    padding: 90px 90px;
    flex-wrap: wrap-reverse;
}

.content__left {
    /* padding: 60px; */
}

.left__link-img {
    width: 69px;
}

.left-header {
    font-size: 3.4rem;
}

.left-header__heading {
    line-height: 1.2;
    color: var(--white-color);
    font-weight: 400;
}

.left-header__icon {
    color: var(--primary-color);
}

.left__text {
    font-size: 2.4rem;
    color: var(--white-color);
}

.left__list {
    padding: 0;
}

.left__list-item {
    display: flex;
    list-style: none;
    align-items: center;
    font-size: 1.6rem;
}

.left__item-icon {
    color: var(--white-color);
    font-size: 1.4rem;
}

.left__item-text {
    color: var(--white-color);
    margin-left: 8px;
}

.background__check {
    background-color: var(--primary-color);
    border-radius: 50%;
    padding: 2px 3px;
}

.content__left {
    position: relative;
    width: 668px;
}

.left__img-moblie {
    position: absolute;
    top: 40%;
    left: 44%;
}

.content__right {
    width: 412px;
    background-color: var(--white-color);
    padding: 48px 56px 80px 56px;
    border-radius: 12px;
}

.right__heading {
    font-size: 3rem;
    color: var(--black-color);
    font-weight: 500;
}

.right__have-account-text {
    font-size: 1.5rem;
    margin-right: 4px;
}

.right__have-account {
    display: flex;
    align-items: center;
}

.right__have-acount-link {
    font-size: 1.5rem;
    color: var(--primary-color);
    text-decoration: none;
}

.right__socials-top,
.right__socials-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right__socials-content {
    font-size: 1.6rem;
    width: 148px;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 5px;
    margin: 4px;
    font-weight: 600;
}

.right__socials-content:hover {
    cursor: pointer;
}

.right__socials-icon {
    font-size: 1.8rem;
    float: right;
}

.icon-fb {
    color: #0680fe;
}

.icon-feide {
    color: #2c458c;
}

.icon-google {
    color: #77a3d6;
}

.right__text-OR {
    font-size: 1.6rem;
    text-align: center;
    margin: 16px 0;
    opacity: 0.5;
    font-weight: 400;
}

.input {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    margin-bottom: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.input:focus {
    outline: 2px solid var(--primary-color);
}

.right__btn {
    margin-top: 16px;
    width: 100%;
    height: 40px;
    border: none;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 1.6rem;
    border-radius: 5px;
}

.right__btn:hover {
    cursor: pointer;
}

.right__policy {
    font-size: 1.6rem;
    line-height: 1.4;
    text-align: center;
    font-weight: 500;
}

.right__policy-content-link {
    color: #3b7cff;
}

.right__checked-email {
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
}

.right__checked-email-checkbox {
    margin-right: 8px;
    accent-color: var(--primary-color);
}


/* Footer */

.footer {
    background: url(../img/backgound-footer.png);
    /* padding: 76px; */
    padding: 90px;
}

.footer__img {
    filter: brightness(0) invert(1);
    height: auto;
    width: 60px;
    margin-bottom: 32px;
}

.footer__social-link {
    text-decoration: none;
}

.footer__socials-icon {
    font-size: 2.6rem;
    color: var(--white-color);
    margin-right: 8px;
}

.footer__content {
    font-size: 1.2rem;
    color: var(--white-color);
    width: 570px;
    text-align: justify;
    margin-top: 16px;
    margin-bottom: 16px;
}

.footer__copyright {
    font-size: 1.2rem;
    color: var(--white-color);
}

.footer__copyright-link {
    color: var(--white-color);
}

.checked {
    font-size: 1.2rem;
    margin-left: 2px;
    color: red;
}

.pass-container {
    display: flex;
}

.toggle-password {
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: var(--white-color);
    margin-left: 4px;
}

.toggle-password:hover {
    background-color: #bbb;
    cursor: pointer;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear,
input[type="password"]::-webkit-credentials-auto-fill-button {
    display: none;
}